<div class="container">
  <div class="forms-wrapper">
    <form (ngSubmit)="cnpjSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput name="cnpj" [(ngModel)]="xmgoiFormFields.cnpj" [matAutocomplete]="autocompleteCnpj">
        <mat-icon matSuffix>badge</mat-icon>

        <mat-autocomplete #autocompleteCnpj="matAutocomplete">
          <mat-option *ngFor="let customerRow of customersData" [value]="customerRow.cnpj">
            {{customerRow.cnpj}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-stroked-button color="primary">Inserir CNPJ</button>
    </form>

    <form (ngSubmit)="productCodeSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Mercadoria</mat-label>
        <input [(ngModel)]="xmgoiFormFields.productCode" matInput name="productCode">

        <mat-icon matSuffix>inventory</mat-icon>
      </mat-form-field>

      <div class="actions-buttons-wrapper">
        <button type="submit" mat-stroked-button color="primary" [class.spinner]="waitingResponse" [disabled]="waitingResponse">Pesquisar Mercadoria</button>
        <button type="button" mat-stroked-button color="primary" (click)="addProductSubmit()">Adicionar Mercadoria</button>
      </div>
    </form>
  </div>
</div>
