.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.forms-wrapper {
  display: flex;
  gap: 20px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

mat-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
