<h1 class="page-title">Base de Dados</h1>

<div class="content">
  <form (ngSubmit)="submitForm()">
    <app-my-file-upload style="align-self: stretch;" (changeFile)="onChangeFile($event)" />

    <button type="submit" mat-raised-button color="primary" [class.spinner]="isSmg13Uploading" [disabled]="isSmg13Uploading">
      Enviar
    </button>
  </form>

  <app-my-table
    (changePage)="smg13TableChangePage($event)"
    (searchTerm)="smg13TableSearchTerm($event)"
    [itemsPerPage]="smg13TableItemsPerPage"
    [displayedColumns]="smg13TableColumns"
    [dataSource]="smg13TableData"
    [isLoading]="smg13TableIsLoading"
  />
</div>
