th, td {
  text-align: center;
  height: 100%;
  padding: 0.5em 0px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 80%;
}

.input-wrapper input  {
  border: 1px solid #000;
  text-align: center;
}

.total-price {
  font-size: 1.5em;
  font-weight: bold;
}
