<div class="container mat-elevation-z3">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let productRow">{{productRow.productCode}}</td>
    </ng-container>

    <ng-container matColumnDef="productDigit">
      <th mat-header-cell *matHeaderCellDef>Dígito</th>
      <td mat-cell *matCellDef="let productRow">{{productRow.productDigit}}</td>
    </ng-container>

    <ng-container matColumnDef="productDescription">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let productRow">{{productRow.productDescription}}</td>
    </ng-container>

    <ng-container matColumnDef="productPacking">
      <th mat-header-cell *matHeaderCellDef>Embalagem</th>
      <td mat-cell *matCellDef="let productRow">{{productRow.productPacking}}</td>
    </ng-container>

    <ng-container matColumnDef="productCodeBar">
      <th mat-header-cell *matHeaderCellDef>Código de Barras</th>
      <td mat-cell *matCellDef="let productRow" class="barcode">
        *{{productRow.productCode}}{{productRow.productDigit}}*
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <p class="no-data-message" *ngIf="dataSource.length === 0">Nenhum produto selecionado</p>
</div>
