<div class="container mat-elevation-z5">
  <div class="loading-results" *ngIf="isLoading">
    <mat-spinner />
  </div>

  <div class="my-table-container">
    <div class="my-table-actions">
      <mat-form-field appearance="outline">
        <mat-label>Pesquisar</mat-label>
        <input matInput name="search" #searchInput>
        <button matSuffix mat-icon-button (click)="searchTermHandler()">
          <mat-icon>search</mat-icon>
        </button>
        <button matSuffix mat-icon-button (click)="clearTerm()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource.data">
      <ng-container *ngFor="let column of displayedColumns"
        [matColumnDef]="column.def">
        <th mat-header-cell *matHeaderCellDef>{{column.text}}</th>
        <td mat-cell *matCellDef="let cell">{{cell[column.def]}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsNameList"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsNameList"></tr>
    </table>

    <p class="no-data-message" *ngIf="dataSource.data.length === 0">Não há registros na base de dados.</p>

  </div>

  <mat-paginator
    [length]="dataSource.totalRows"
    [pageSize]="itemsPerPage"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 30, 50]"
  />
</div>
