html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: '3of9Barcode';
  src: url('./assets/fonts/3OF9_NEW.TTF') format('truetype');
}

.page-title {
  font-weight: lighter;
  font-size: 3rem;
  border-bottom: 1px solid #0003
}

.content {
  padding-bottom: 15px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.barcode {
  font-size: 3em !important;
  font-family: '3 of 9 Barcode';
}

.big-barcode {
  font-size: 5em !important;
  font-family: '3 of 9 Barcode';
  padding: 0.9em 0;
}

.italic {
  font-style: italic;
}
