<div class="packing-list-actions">
  <button
    mat-stroked-button color="primary"
    (click)="generatePackingListPdf()"
  >
    Salvar como PDF
  </button>

  <button mat-flat-button color="primary" (click)="updateCustomerLastPurchaseDay()">Registrar Romaneio</button>
</div>

<div class="container mat-elevation-z3" #packingListContainer>
  <div class="packing-list-header">
    <img ngSrc="/assets/imgs/atacadao-logo.svg" height="48" width="153" alt="Logo atacadao"/>

    <h1>Pedido para faturar</h1>

    <div class="customer-id">
      <span *ngIf="customerId">CNPJ</span>
      <span>{{customerId}}</span>
    </div>
  </div>

  <div class="packing-list-sub-header">
    <p>{{customerSocialReason}}</p>

    <p>{{currentDateTime}}</p>
  </div>

  <div class="products-table-wrapper">
    <app-xmgoi-products-table [dataSource]="packingList" (onDataSourceChange)="setPackingList($event)"/>
  </div>
</div>
